footer {
  display: flex;
  justify-content: space-around;
  background-color: #212121;
  margin-top: 40px;
  padding: 20px 0px;
}

footer .information {
  color: rgb(150, 150, 150);
}

footer form {
  display: flex;
}

footer form input {
  width: 300px;
  height: 35px;
  font-size: 20px;
  padding-left: 10px;
}

footer form #submit-email {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50px;
  height: 35px;
  padding-left: -10px;
  font-size: 17px;
  cursor: pointer;
  background-color: #ff2525;
  color: #fff;
  border: none;
}

footer .information img {
  width: 200px;
  height: 120px;
  object-fit: cover;
}

footer .information p {
  padding: 10px 0px;
  font-size: 18px;
}

.menu-footer {
  margin-top: 5px;
}

.sub-footer {
  display: flex;
  flex-direction: column;
}

.sub-footer h1 {
  color: #fff;
}

.sub-footer a {
  color: rgb(150, 150, 150);
  text-decoration: none;
  padding: 10px 0px;
  font-size: 18px;
}

.fanpage h2 {
  color: #fff;
}

@media screen and (max-width: 1080px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .information {
    margin: 15px 0px;
  }

  .menu-footer {
    margin: 15px 0px;
  }

  .fanpage {
    margin: 15px 0px;
  }
}
