* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.admin {
  display: flex;
  justify-content: center;
  margin-top: 120px;
}

.row {
  max-width: 1200px;
  margin: auto;
}

.row-box {
  display: flex;
  margin: 40px 0px;
}

.small-box {
  border-radius: 0.25rem;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
  display: block;
  margin-bottom: 20px;
  position: relative;
  width: 300px;
  margin: 0px 10px;
}

.inner {
  padding: 15px;
  position: relative;
}

.small-box:nth-child(1) {
  background-color: #17a2b8;
}

.small-box:nth-child(2) {
  background-color: #28a745;
}

.small-box:nth-child(3) {
  background-color: #ffc107;
}

.small-box:nth-child(4) {
  background-color: #dc3545;
}

.inner h3 {
  color: #fff;
  font-size: 30px;
}

.inner p {
  color: #fff;
  font-size: 17px;
  margin-top: 20px;
}

.small-box-footer {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.8);
  display: block;
  padding: 3px 0;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.15);
}

.view {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 35px 0px;
}

table {
  margin: 20px 0px;
  width: 800px;
  height: 10%;
  border-collapse: collapse;
}

table tr {
  height: 50px;
}

table tr td {
  padding: 10px;
}

table tr td a {
  text-decoration: none;
  color: #000;
  margin: 0px 10px;
}

.edit-delete {
  height: 200px;
  display: flex;
  align-items: center;
  border: none;
  border-bottom: 1px solid #000;
}

.edit {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(231, 231, 0);
  width: 120px;
  height: 30px;
  border-radius: 4px;
  transition: 0.3s;
}

.edit:hover {
  background-color: #fff;
  border: 1px solid rgb(231, 231, 0);
}

.delete {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 72, 0);
  color: #fff;
  width: 120px;
  height: 30px;
  border-radius: 4px;
  transition: 0.3s;
}

.delete:hover {
  background-color: #fff;
  color: rgb(255, 72, 0);
  border: 1px solid rgb(255, 72, 0);
}

.chart {
  width: 400px;
  /* height: 200px; */
}

@media screen and (max-width: 1210px) {
  .row {
    max-width: 800px;
    margin: auto;
  }

  .row-box {
    flex-wrap: wrap;
  }

  .small-box {
    display: block;
    margin-bottom: 20px;

    width: 375px;
  }
}

@media screen and (max-width: 792px) {
  .row {
    max-width: 600px;
    margin: auto;
  }

  .small-box {
    margin-bottom: 20px;
    width: 275px;
  }

  .view-all {
    text-align: center;
  }

  table {
    width: 750px;
  }
}
