* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.list {
  max-width: 1200px;
  margin: auto;
  margin-top: 120px;
}

.list h1 {
  font-size: 24px;
  margin: 10px 0px;
}

.table {
  width: 1200px;
}

table {
  width: 100%;
  margin: 20px 0px;
  border-collapse: collapse;
}

table tr {
  height: 50px;
}

table tr td {
  padding: 8px;
}

table tr td a {
  text-decoration: none;
  color: #000;
  margin: 0px 10px;
}

table img {
  width: 180px;
  height: 150px;
  object-fit: cover;
}

.filter input {
  height: 30px;
}

.filter select {
  width: 80px;
  height: 30px;
  font-size: 17px;
}

.filter-search {
  background-color: #000;
  color: #fff;
  width: 140px;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.filter-search:hover {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
}

.edit-delete {
  height: 200px;
  display: flex;
  align-items: center;
  border: none;
}

.edit {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(231, 231, 0);
  width: 120px;
  height: 30px;
  border-radius: 4px;
  transition: 0.3s;
}

.edit:hover {
  background-color: #fff;
  border: 1px solid rgb(231, 231, 0);
}

.delete {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 72, 0);
  color: #fff;
  width: 120px;
  height: 30px;
  border-radius: 4px;
  transition: 0.3s;
}

.delete:hover {
  background-color: #fff;
  color: rgb(255, 72, 0);
  border: 1px solid rgb(255, 72, 0);
}

.function-btn {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.function-btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  width: 150px;
  height: 35px;
  text-decoration: none;
  color: #000;
}

@media screen and (max-width: 1100px) {
  .list {
    max-width: 800px;
    margin: auto;
    margin-top: 120px;
  }

  .table {
    overflow-x: scroll;
    max-width: 800px;
  }

  .edit-delete {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100px;
  }

  .edit {
    width: 80px;
  }

  .delete {
    width: 80px;
  }

  .function-btn {
    width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
}

@media screen and (max-width: 792px) {
  .list {
    max-width: 600px;
    margin: auto;
    margin-top: 120px;
  }

  .table {
    overflow-x: scroll;
    max-width: 600px;
  }

  .function-btn {
    width: 600px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
}
