.container {
  display: flex;
  padding: 20px;
  margin: 20px 0px;
}

.product-img img {
  width: 462px;
  height: 500px;
  object-fit: cover;
}

.product-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 45%;
  margin-left: 17px;
}

.product-details h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-details h2 {
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 900;
}

.product-details p {
  margin-bottom: 10px;
  color: rgb(119, 119, 119);
}

.product-details button {
  background-color: #000;
  color: white;
  border: none;
  width: 200px;
  height: 64px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  text-transform: uppercase;
  margin-top: 20px;
}

.other {
  text-align: center;
}

.other-product {
  display: flex;
  flex-wrap: wrap;
  margin: 28px 0px;
}

.product-item {
  text-align: center;
  background: #fff;
  margin: 15px 10px;
  cursor: pointer;
}

.product-img {
  position: relative;
}

.product-img img {
  width: 295px;
}

.product-click {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.product-item:hover > .product-img .product-click {
  opacity: 1;
}

.product-click-view {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 40px;
  margin: 13px 0px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.product-click-view a {
  text-decoration: none;
  color: #000;
}

.product-click-add {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 40px;
  margin: 13px 0px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.product-text {
  margin-top: 12px;
  color: rgb(119, 119, 119);
}

.product-text:hover {
  color: #000;
}

.product-price {
  margin-top: 10px;
  font-weight: 700;
}
